<div class="container">

  <h1 class="text-center m-4">Add New Data</h1>
  <form #formAddData="ngForm">
      <div class="row">
          <div class="col-12 col-md-6">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" [(ngModel)]="dataDetail.username" name="username" id="username" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" class="form-control" [(ngModel)]="dataDetail.firstName" name="firstname" id="firstname" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="dataDetail.lastName" name="lastname" id="lastname" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="dataDetail.email" name="email" id="email" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="birthdate" class="form-label">Birthdate</label>
            <input type="text" class="form-control" [(ngModel)]="dataDetail.birthDate" name="birthdate" id="birthdate" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="basicsalary" class="form-label">Basic Salary</label>
            <input type="text" class="form-control" [(ngModel)]="dataDetail.basicSalary" name="basicsalary" id="basicsalary" disabled>
          </div>

          <div class="col-12 col-md-6 mb-3">
              <label for="group" class="form-label">Group</label>
              <select [(ngModel)]="dataDetail.group" class="form-select" name="group" id="group" disabled>
                  <option selected>--select--</option>
                  <option *ngFor="let group of listGroups" [value]="group">{{group}}</option>
                </select>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="status" class="form-label">Status</label>
            <select [(ngModel)]="dataDetail.status" class="form-select" name="status" id="status" disabled>
                <option selected>--select--</option>
                <option *ngFor="let status of listStatus" [value]="status">{{status}}</option>
              </select>
        </div>

          <div class="d-flex justify-content-center col my-5">
              <a routerLink="/employee/list" class="btn btn-primary px-4 mx-2">Ok</a>
          </div>
      </div>
  </form>
</div>
